* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffae45;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.envelope {
    width: 400px;
    height: 250px;
    background-color: #fafafa;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: float 4s ease-in-out infinite;
    display: none; /* Oculta el sobre al principio */
}

.heart {
    font-size: 3rem;
}

.letter {
    width: 297mm; /* Ancho de un A4 en horizontal */
    height: 210mm; /* Alto de un A4 en horizontal */
    background-color: rgb(234, 254, 255);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 20px;
    position: relative;
}

.letter .content {
    text-align: center;
    position: relative;
    height: 100%;
}

.hidden {
    display: none;
}

.open {
    display: block;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  10% {
    transform: translateY(-10px) rotate(-5deg);
  }
  20% {
    transform: translateY(0px) rotate(5deg);
  }
  30% {
    transform: translateY(-10px) rotate(-5deg);
  }
  40% {
    transform: translateY(0px) rotate(5deg);
  }
  50% {
    transform: translateY(-10px) rotate(-5deg);
  }
  60% {
    transform: translateY(0px) rotate(5deg);
  }
  70% {
    transform: translateY(-10px) rotate(-5deg);
  }
  80% {
    transform: translateY(0px) rotate(5deg);
  }
  90% {
    transform: translateY(-10px) rotate(-5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.rectangle {
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}
.rectangle-title {
    color: #ff810c;
    font-size: 19px;
    margin-bottom: 5px;
    padding: 7px;
    
  }
  
.rectangle-text {
    font-size: 15px;
    padding: 10px; /* Añade 10px de relleno en todos los lados */
    overflow-y: auto;
    max-height: 80%;
   
}
.top-left {
    top: 20px;
    left: 20px;
}

.bottom-right {
    bottom: 20px;
    right: 20px;
}

/* Estilos para las imágenes a los costados */
.side-image {
    position: absolute;
    width: 300px;
    height: auto;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}

.left {
    left: 0px; /* Ajusta según el espacio deseado */
    top: 47%;
    transform: translateY(70%);
    transform: translatex(40%);
}

.right {
    right: 0px; /* Ajusta según el espacio deseado */
    top: 1%;
    transform: translateY(-40%);
    transform: translatex(-53%);
}


/* Estilos para el contenedor del video */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.video-container.hidden {
    display: none;
}

#video {
    width: 70%;
    height: auto;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 1001;
}


